.git
.gitignore
.gitattributes
.github
node_modules
npm-debug.log*
.env
.env.local
.env.*.local
.vscode
.idea
*.swp
*.swo
.DS_Store
Thumbs.db
README.md
CHANGELOG.md
Dockerfile*
docker-compose*
.docker
